################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
.vscode
.vscode/*
Thumbs.db
/backend/CadastroLivros/bin
/backend/CadastroLivros/obj
/backend/CadastroLivros/*.user
/backend/CadastroLivros.Test/bin
/backend/CadastroLivros.Test/obj
/backend/CadastroLivros.Test/*.user

frontend/node_modules/
frontend/.angular/