<div>
    <header id="header">
        <div class="title">
            Cadastro de Livros
        </div>

        <ul id="navbar" class="nav">
            <li class="nav-item">
                <a id="livros" class="nav-link active" href="/livros" (click)="click($event)" target=_self>Livros</a>
            </li>
            <li class="nav-item">
                <a id="assuntos" class="nav-link" href="/assuntos" (click)="click($event)" target=_self>Assuntos</a>
            </li>
            <li class="nav-item">
                <a id="autores" class="nav-link" href="/autores" (click)="click($event)" target=_self>Autores</a>
            </li>
            <li class="nav-item">
                <a id="formascompra" class="nav-link" href="/formascompra" (click)="click($event)" target=_self>Formas de Compra</a>
            </li>
        </ul>
    </header>
</div>